{{ if ne .Site.Params.hideFooter true }}
<footer>
    <div class="container pb-1 pb-lg-5 pt-5">
  
      <div class="row mb-5">
        <div class="col-sm mb-3 mb-sm-0">
            <ul class="list-inline list-separator mb-0">
                <li class="list-inline-item">
                    <p class="text-muted small">&copy; <span id="currentYear"></span> EUROCONTROL</p>
                </li>
                <li class="list-inline-item"><a class="text-muted" href="/about/disclaimer">Disclaimer</a></li>
                <li class="list-inline-item"><a class="text-muted" href="https://www.eurocontrol.int/info/privacy-and-website-terms-use" target="_blank">Privacy statement</a></li>
            </ul>
        </div>
        
        <div class="col-sm mb-3 mb-sm-0">
    <ul class="list-inline list-separator mb-0">
   
            <p class="text-muted small" >Download the App</p>
            
                <img src="/images/footer/google_app_qr.png" style="width: 40%; margin-right: 35px" alt="Google app qr">
            
                <img src="/images/footer/apple_app_qr.png" style="width: 40%;" alt="Apple app qr">
         
           <li class="list-inline-item">

            <a href="https://play.google.com/store/apps/details?id=com.performancereviewunit.eurocontroldata&hl=en&pli=1" target="_blank">
                <img src="/images/footer/app-store-google-image.svg" style="border-top-left-radius: 0rem; border-top-right-radius: 0rem; width: 40%; margin-right: 35px" alt="Google app">
            </a>
            <a href="https://apps.apple.com/us/app/eurocontrol-data/id6467232405" target="_blank">
                <img src="/images/footer/app-store-apple-image.svg" style="border-top-left-radius: 0rem; border-top-right-radius: 0rem; width: 40%;" alt="Apple app">
            </a>
            </li>
        
    </ul>
         </div>




        <div class="col-sm-auto">
            <ul class="list-inline list-separator mb-0">
                              
                <li class="list-inline-item"><p class="text-muted"><a class="text-muted small" href="https://www.eurocontrol.int/form/aviation-intelligence-unit-aiu-newsletter">Subscribe to our Newsletter<i class="fas fa-envelope ml-1"></i></a> or <a class="text-muted small" href=/index.xml type=application/rss+xml target=_blank>RSS<i class="fas fa-rss ml-1"></i></a></p></li>
                <li class="list-inline-item"><a class="text-muted" href="/about/help"><i class="fas fa-question-circle"></i></a></li>
                <li class="list-inline-item"><a class="text-muted" href="/about/howbuilt"><i class="fas fa-cogs"></i></a></li>
            </ul>
        </div>
      </div>
    </div>
  </footer>



<script>
        // Get the current year
        const currentYear = new Date().getFullYear();
        // Display the current year in the span with id "currentYear"
        document.getElementById('currentYear').textContent = currentYear;
    </script>
    
{{ end }}



