<link rel="stylesheet" href="/custom_css/sidebar-style.css">

<!-- sidebar start -->
<nav class="sidenav">
  <ul class="sidenav-links">
    {{ $currentPage := . }}
    {{ range .Site.Menus.economics }}
      <li>
        <!-- Add trailing slash for consistent comparison -->
        {{ $currentURL := printf "%s/" $currentPage.RelPermalink | strings.TrimRight "/" }}
        {{ $menuURL := printf "%s/" .URL | strings.TrimRight "/" }}
        <a href="{{ .URL }}" id="{{ .Identifier }}-item" class="{{ if eq $currentURL $menuURL }}active{{ end }}">
          {{ .Pre }}<span>{{ .Name }}</span>
        </a>
      </li>
    {{ end }}
  </ul>
</nav>