<div id="carousel-item" class="carousel-item {{ if .Get "active" }}active{{ end }}">
    <div class="card rounded border-0">
        <img class="card-img-top" src="{{ .Get "imageSrc" }}" alt="{{ .Get "imageAlt" }}">
        <div id="{{ .Get "cardBodyID" }}" class="card-body">
            <h5>
                <a href="{{ .Get "link" }}" target="_blank">{{ .Get "title" }}</a>
            </h5>
            <p class="small">{{ .Get "description" }}</p>
        </div>
        <div class="card-footer pt-0">
            <a class="card-link" href="{{ .Get "link" }}">Read more <i class="ml-2 fas fa-arrow-right"></i></a>
        </div>
    </div>
</div>